#postFormDiv {
  height: calc(100vh - 50px);
  padding-top: 10px;
}

.post-form {
  width: 100%;
  font-size: 1.5rem;
  padding: 20px;
  margin-top: 20px;
  resize: vertical;
}

.post-form-title {
  font-size: 2rem;
  font-weight: bold;
  height: 100px;
}

#post-content {
  height: 100%;
  overflow: clip;
  text-overflow: clip;
}

.post-form-content {
  font-size: 1.5rem;
  display: inline-block;
  height: 100%;
}

.post-form-element {
  float: inline-end;
  resize: vertical;
  height: 100%;
}

.line-break {
  width: 95%;
  margin: auto;
}

textarea {
  resize: none !important;
  width: 100%;
}

form,
textarea:focus-visible,
textarea,
textarea:focus form:focus-visible {
  resize: vertical;
  border: none;
  outline: none;
}
